.loginContainer {
  width: 100vw;
  height: 100vh;
  background: var(--blue);
  background-image: url('/icons/simbolo.svg');
  background-repeat: no-repeat;
  background-size: contain;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loginContainer div:first-child {
  width: 30%;
}

.loginContainer img {
  width: 18rem;
}

.loginContainer h2 {
  color: var(--white);
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.loginContainer p {
  display: flex;
  align-items: center;
  color: var(--white);
}

.loginContainer p img {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.loginContainer div button {
  width: 90%;
  height: 3.5rem;

  margin-top: 2rem;

  background: var(--blue-dark);
  color: #fff;
  border: 0;
  border-radius: .3rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: filter .3s;
}

.loginContainer div button:hover {
  filter: brightness(.9);
}

.loginContainer div button img {
  width: 1rem;
  height: 1rem;
}

/*Responsive*/
@media(max-width: 800px) {
  .loginContainer {
    justify-content: center;
  }

  .loginContainer div:first-child {
    width: 80%;
  }
}